@import 'coreui/variables_override';
@import 'fontawesome/variables_override';
@import 'jsoneditor/variables_override';
@import 'libs';

.card{
  .card-body{
    .card-icon{
      text-align: center;
      font-size: 36px;
      width: 36px;
      height: 36px;
    }
    &.text-center {
      padding: .25rem;
    }
  }
}

.jsoneditor-react-container {
  width: 100%;
  height: 100%;
}

.background-cover {
  background-size: cover;
}

.background-overlay{
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
}

.no-frame{
  margin: -2rem -30px 0 -30px;
}

.text-small{
  font-size: 0.9rem;
}
